.main-header {
    position: relative;
    z-index: 5;
    margin-bottom: 90px;
}

.main-info {
    position: relative;
    z-index: 5;
}

.logo-wrap {
    margin-right: auto;
}

.top-part-main-header {
    display: flex;
}

.header-menu {
    margin-left: 72px;
}

.top-part-main-header {
    margin-bottom: 20px;
}

.bot-part-main-header {
    display: flex;
    width: 100%;
}

.contact-container {
    margin-left: auto;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
}